<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      {% if status %}

      <h1>Payments Has been successed</h1>
      <a href="/home">Back</a>

      {% else %}

      <h1>Payments Has been Failed</h1>
      <a href="/home">Back</a>

      {% endif %}
    </center>
  </body>
</html>
